# Temporary build-tools artifacts to be ignored
.go/
/bin/
/.container*
/.push*
/linux
/darwin
/.dockerfile
/VERSION.txt
/.docker_image
# These are not artifacts that should be ignored
!ddev-webserver-base-files/usr/bin/
!ddev-webserver-base-files/usr/local/bin/
