/* table does not need a scrollbar, see https://github.com/drud/ddev/pull/3290#issuecomment-942888867
 */
.md-typeset__table {
  padding-right: 0;
}

dt {
  font-weight: bold;
}

.md-typeset :is(.admonition,details) {
  font-size: .70rem;
  background-color: inherit;
}
.md-typeset .tabbed-content {
  background-color: aliceblue;
  padding: 10px;
}

/* only required if we have our svg logo out there */
/*.md-logo {*/
/*  filter:invert(40%)*/
/*}*/
