# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# GO files
[*.go]
indent_style = tab

# Makefile
[Makefile]
indent_style = tab

# NSIS files
[*.{nsi,nsh}]
end_of_line = crlf
indent_size = 2

# YAML files
[*.{yaml,yml}]
indent_size = 2

# JavaScript, TypeScript, and JSON
[*.{json,jsonc,js,ts}]
indent_size = 2

# styles
[*.{css,sass,less,pcss,scss}]
indent_size = 2

# shell scripts
[*.sh]
indent_size = 2
