# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
# Forcing indent to 4 seems to break lots of things, like
# embedded yaml in markdown.
# indent_size = 4
insert_final_newline = true

# GO files
[*.go]
indent_style = tab

# Makefile
[Makefile]
indent_style = tab

# NSIS files
[*.{nsi,nsh}]
end_of_line = crlf
indent_size = 2
