# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Makefile
[Makefile]
indent_style = tab

# NSIS files
[*.{nsi,nsh}]
end_of_line = crlf
indent_size = 2
