[submodule "containers/docker.php7"]
	path = containers/docker.php7
	url = git@github.com:drud/docker.php7.git
[submodule "containers/docker.nginx-php-fpm"]
	path = containers/docker.nginx-php-fpm
	url = git@github.com:drud/docker.nginx-php-fpm.git
[submodule "containers/docker.nginx-php-fpm-local"]
	path = containers/docker.nginx-php-fpm-local
	url = git@github.com:drud/docker.nginx-php-fpm-local.git
[submodule "containers/docker.phpmyadmin"]
	path = containers/docker.phpmyadmin
	url = git@github.com:drud/docker.phpmyadmin.git
[submodule "containers/docker.ddev-router"]
	path = containers/docker.ddev-router
	url = git@github.com:drud/docker.ddev-router.git
[submodule "containers/docker.mysql-local"]
	path = containers/docker.mysql-local
	url = git@github.com:tannerjfco/mysql-local-test.git
