# Temporary build-tools artifacts to be ignored
/.gotmp/
/VERSION.txt
.docker_image
/dictionary.dic
/site
/authors.json
/docs/cache
/dist
/.cache
/.ddev
/artifacts
/.claude
*.DS_Store
nbproject/
.idea
*.orig
*.rej

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
cover.html
