# Temporary build-tools artifacts to be ignored
/.gotmp/
/VERSION.txt
.docker_image
/dictionary.dic
/.idea
/site
/authors.json
/docs/cache
/dist
/.ddev
/artifacts
/vendor
*.DS_Store
nbproject/
.idea
*.orig
*.rej
