[submodule "containers/docker.nginx-php-fpm-local"]
	path = containers/docker.nginx-php-fpm-local
	url = git@github.com:drud/docker.nginx-php-fpm-local.git
[submodule "containers/docker.phpmyadmin"]
	path = containers/docker.phpmyadmin
	url = git@github.com:drud/docker.phpmyadmin.git
[submodule "containers/docker.ddev-router"]
	path = containers/docker.ddev-router
	url = git@github.com:drud/docker.ddev-router.git
[submodule "containers/mariadb-local"]
	path = containers/mariadb-local
	url = git@github.com:drud/mariadb-local.git
