site_name: DDEV-Local Documentation
repo_url: https://github.com/drud/ddev
repo_name: GitHub
edit_uri: blob/master/docs/
copyright: Localdev Foundation
theme:
  name: 'material'
  palette:
    primary: 'light-blue'
extra_javascript:
  - 'assets/jquery-3.5.1.min.js'
  - 'assets/extra.js'
extra_css:
  - 'assets/extra.css'
markdown_extensions:
    - toc:
        permalink: true
    - admonition
    - def_list
    - mdx_truly_sane_lists:
        nested_indent: 2
        truly_sane: true
    - nl2br
    - pymdownx.details
    - pymdownx.superfences
    - meta
plugins:
    - search
    - git-revision-date-localized:
        type: timeago
        locale: en
nav:
  - 'Home': 'index.md'
  - 'ddev Basics':
    - 'Using the CLI': 'users/cli-usage.md'
    - 'ddev Hooks': 'users/extending-commands.md'
    - 'Using Developer Tools with ddev': 'users/developer-tools.md'
    - 'PHP Step Debugging': 'users/step-debugging.md'
    - 'Profiling with Blackfire': 'users/blackfire-profiling.md'
    - 'Profiling with xhprof': 'users/xhprof-profiling.md'
    - 'Profiling with Xdebug': 'users/xdebug-profiling.md'
    - 'Troubleshooting': 'users/troubleshooting.md'
    - 'Docker Installation': 'users/docker_installation.md'
    - 'Performance': 'users/performance.md'
    - 'Uninstalling DDEV-Local': 'users/uninstall.md'
    - 'Frequently-Asked Questions (FAQ)': 'users/faq.md'
    - '.ddev/config.yaml Options': 'users/extend/config_yaml.md'
    - 'Database Server Types': 'users/extend/database_types.md'
    - 'Additional Project Hostnames': 'users/extend/additional-hostnames.md'
    - 'Shell Completion (bash, zsh, etc.)': 'users/shell-completion.md'
    - 'Alternate Uses of DDEV-Local': 'users/alternate-uses.md'
    - 'Special Environments': 'users/special-environments.md'
  - 'Extending ddev':
    - 'Extending and Customizing Environments': 'users/extend/customization-extendibility.md'
    - 'Additional Services': 'users/extend/additional-services.md'
    - 'Defining Custom Services': 'users/extend/custom-compose-files.md'
    - 'Customizing Docker Images': 'users/extend/customizing-images.md'
    - 'Custom Commands': 'users/extend/custom-commands.md'
    - 'In-container Configuration': 'users/extend/in-container-configuration.md'
    - 'Custom TLS Certificates': 'users/extend/custom-tls-certificates.md'
  - 'Integration with Hosting Providers':
    - 'Introduction': 'users/providers/provider-introduction.md'
    - 'Acquia': 'users/providers/acquia.md'
    - 'Pantheon': 'users/providers/pantheon.md'
    - 'Platform.sh': 'users/providers/platform.md'
  - 'Topics':
      - 'CMS-Specific Topics': 'users/topics/cms_specific_help.md'
      - 'Database Management': 'users/topics/database_management.md'
      - 'Gitpod.io Usage': 'users/topics/gitpod.md'
      - 'How DDEV Works': 'users/topics/how_ddev_works.md'
      - 'PhpStorm Integration': 'users/topics/phpstorm.md'
      - 'Sharing a project with `ddev share` or by exposing a port': 'users/topics/sharing.md'
      - 'Webserver-Specific Topics': 'users/topics/webserver.md'
      - "What's in the .ddev directory": 'users/topics/whats_in_ddev_dir.md'
      - 'Version History': 'users/topics/version-history.md'
