
# Project information
site_name: DDEV-Local Documentation
site_url: https://github.com/drud/ddev
repo_url: https://github.com/drud/ddev
repo_name: drud/ddev
edit_uri: blob/master/docs/content
copyright: Localdev Foundation
#extra_javascript:
#- 'assets/jquery-3.5.1.min.js'
#- 'assets/extra.js'
#extra_css:
#- 'assets/extra.css'
site_author: Localdev Foundation
site_description: >-
  Do local website development on your computer or in the cloud with DDEV.
docs_dir: docs/content/users

# Configuration
theme:
  name: null
  custom_dir: docs/material

  # Static files
  static_templates:
  - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  features:
  - content.code.annotate
  - content.tabs.link
  - content.tooltips
  - header.autohide
  - navigation.expand
  - navigation.indexes
  - navigation.instant
  - navigation.prune
  - navigation.sections
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow
  - toc.integrate
  palette:
  - scheme: default
    primary: indigo
    accent: indigo
    toggle:
      icon: material/brightness-7
      name: Switch to dark mode
  - scheme: slate
    primary: indigo
    accent: indigo
    toggle:
      icon: material/brightness-4
      name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/images/favicon.png
  icon:
    logo: logo

# Plugins
plugins:
- search
- redirects:
    redirect_maps:
- minify:
    minify_html: true
- git-revision-date-localized:
    enable_creation_date: true
# readthedocs doesn't seem to expose GH_TOKEN even when set.
#- git-committers:
#    repository: https://github.com/drud/ddev
#    token: !ENV GH_TOKEN
- git-authors


# Customization
extra:
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/drud/ddev
  - icon: fontawesome/brands/discord
    link: https://discord.gg/hCZFfAMc5k
  - icon: fontawesome/brands/stack-overflow
    link: https://stackoverflow.com/tags/ddev
  - icon: fontawesome/brands/twitter
    link: https://twitter.com/search?q=%23ddev&src=unknown&f=live
  generator: false

# Extensions
markdown_extensions:
- abbr
- admonition
- attr_list
- def_list
- footnotes
- meta
- md_in_html
- toc:
    permalink: true
- pymdownx.arithmatex:
    generic: true
- pymdownx.betterem:
    smart_enable: all
- pymdownx.caret
- pymdownx.details
- pymdownx.emoji:
    emoji_generator: !!python/name:materialx.emoji.to_svg
    emoji_index: !!python/name:materialx.emoji.twemoji
- pymdownx.highlight:
    anchor_linenums: true
- pymdownx.inlinehilite
- pymdownx.keys
- pymdownx.magiclink:
    repo_url_shorthand: true
    user: squidfunk
    repo: mkdocs-material
- pymdownx.mark
- pymdownx.smartsymbols
- pymdownx.superfences:
- pymdownx.tabbed:
    alternate_style: true
- pymdownx.tasklist:
    custom_checkbox: true
- pymdownx.tilde

nav:
  - index.md
  - 'Install':
    - install/index.md
    - install/docker-installation.md
    - install/ddev-installation.md
    - install/performance.md
    - install/shell-completion.md
    - install/uninstall.md
  - 'ddev Basics':
    - 'How DDEV Works': 'topics/how_ddev_works.md'
    - 'Using the CLI': 'cli-usage.md'
    - 'Adding ddev Hooks': 'extending-commands.md'
    - 'Using Developer Tools with ddev': 'developer-tools.md'
    - 'Step-Debugging PHP': 'step-debugging.md'
    - 'Profiling with Blackfire': 'blackfire-profiling.md'
    - 'Profiling with xhprof': 'xhprof-profiling.md'
    - 'Profiling with Xdebug': 'xdebug-profiling.md'
    - 'Troubleshooting': 'troubleshooting.md'
    - 'Frequently-Asked Questions (FAQ)': 'faq.md'
    - 'Configuring ddev': 'extend/config_yaml.md'
    - 'Choosing Database Server Types': 'extend/database_types.md'
    - 'Adding Additional Hostnames': 'extend/additional-hostnames.md'
    - 'Alternate Uses of ddev': 'alternate-uses.md'
  - 'Extending ddev':
    - 'Extending and Customizing Environments': 'extend/customization-extendibility.md'
    - 'Adding Additional Services': 'extend/additional-services.md'
    - 'Defining Custom Services': 'extend/custom-compose-files.md'
    - 'Customizing Docker Images': 'extend/customizing-images.md'
    - 'Adding Custom Commands': 'extend/custom-commands.md'
    - 'Configuring Containers': 'extend/in-container-configuration.md'
    - 'Adding Custom TLS Certificates': 'extend/custom-tls-certificates.md'
  - 'Integrating with Hosting Providers':
    - 'Introduction': 'providers/provider-introduction.md'
    - 'Acquia': 'providers/acquia.md'
    - 'Pantheon': 'providers/pantheon.md'
    - 'Platform.sh': 'providers/platform.md'
  - 'Specific Guides':
      - 'Configuring a CMS': 'topics/cms_specific_help.md'
      - 'Managing Databases': 'topics/database_management.md'
      - 'Using Gitpod.io': 'topics/gitpod.md'
      - 'Integrating with PhpStorm': 'topics/phpstorm.md'
      - 'Sharing Your Project': 'topics/sharing.md'
      - 'Configuring Web Servers': 'topics/webserver.md'
      - "Understanding the .ddev Directory": 'topics/whats_in_ddev_dir.md'
      - 'Version History': 'topics/version-history.md'
