site_name: ddev Documentation
edit_uri: edit/master/docs/
copyright: DRUD Technology, LLC
theme: readthedocs
markdown_extensions:
  - markdown.extensions.toc
pages:
  - 'Home': 'index.md'
  - 'User Documentation':
    - 'Using the CLI': 'users/cli-usage.md'
    - 'Extending ddev Commands': 'users/extending-commands.md'
    - 'Using Developer Tools with ddev': 'users/developer-tools.md'
    - 'PHP Step Debugging': 'users/step-debugging.md'
    - 'Extending ddev':
      - 'Extending and Customizing Environments': 'users/extend/customization-extendibility.md'
      - 'Additional Services': 'users/extend/additional-services.md'
      - 'Defining Custom Services': 'users/extend/custom-compose-files.md'
    - 'Integration with Hosting Providers':
      - 'Pantheon': 'users/providers/pantheon.md'
    - 'Notes for Linux Users': 'users/linux_notes.md'
  - 'Developer Documentation':
    - 'Building, Testing, and Contributing': 'developers/building-contributing.md'
