Babel==2.9.0
click==7.1.2
future==0.18.2
gitdb==4.0.7
GitPython==3.1.14
htmlmin==0.1.12
Jinja2==2.11.3
joblib==1.0.1
jsmin==2.2.2
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.4
MarkupSafe==1.1.1
mdx-truly-sane-lists==1.2
mkdocs==1.1.2
mkdocs-git-revision-date-localized-plugin==0.9
mkdocs-material==7.1.1
mkdocs-material-extensions==1.0.1
mkdocs-minify-plugin==0.4.0
nltk==3.6.1
packaging==20.9
Pygments==2.8.1
pymdown-extensions==8.1.1
pyparsing==2.4.7
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
six==1.15.0
smmap==4.0.0
tornado==6.1
tqdm==4.48.2
