#!/bin/bash

## Description: Run MySQLWorkbench against current db
## Usage: mysqlworkbench
## Example: "ddev mysqlworkbench"

# Note that this examle uses $DDEV_HOST_DB_PORT to get the port for the connection

appPath="/Applications/MySQLWorkbench.app/Contents/MacOS/MySQLWorkbench"

case $OSTYPE in
  linux-gnu)
    appPath=$(which mysql-workbench)
    ;;
  "darwin"*)
    appPath="/Applications/MySQLWorkbench.app/Contents/MacOS/MySQLWorkbench"
    ;;
  "win*"*)
    appPath=tbd
    ;;
esac



"$appPath" --query "db:db@127.0.0.1:${DDEV_HOST_DB_PORT}"
