#!/bin/bash

## Description: run mysql client on host
## Usage: `ddev mysql` for basic access to main database (db)
## `ddev mysql mysql -- -uroot -proot` gets you to the 'mysql' database with root privileges
## `echo "SHOW TABLES;" | ddev mysql mysql -- -uroot -proot`

args="db"
if [ $# -ge 0 ]; then
  args=$@
fi

#echo mysql -udb -pdb -h127.0.0.1 --port ${DDEV_HOST_DB_PORT:-} $args && sleep 3
mysql -udb -pdb -h127.0.0.1 --port ${DDEV_HOST_DB_PORT:-} $args
