#ddev-generated
# fail2ban plugin example from
# https://plugins.traefik.io/plugins/628c9ebcffc0cd18356a979f/fail2-ban
# Additional configuration is required to add this as a middleware in router

experimental:
  plugins:
    fail2ban:
      moduleName: "github.com/tomMoulard/fail2ban"
      version: "v0.8.1"
