version: 2
jobs:
  # 'build' is the default build, the only one triggered automatically by github or anything else.
  normal_build_and_test:
    machine:
      image: circleci/classic:201711-01
    working_directory: ~/go/src/github.com/drud/ddev
    environment:
      GOPATH: /home/circleci/go
      ARTIFACTS: /artifacts
    steps:
      - run: mkdir -p ~/go/{lib,pkg,src/github.com/drud/ddev}

      - checkout

      - run:
          command: ./.circleci/circle_vm_setup.sh
          name: NORMAL Circle VM setup - tools, docker, golang

      - run:
          command: echo "go version:$(go version) docker version=$(docker --version) docker-compose version=$(docker-compose --version) HOME=$HOME USER=$(whoami) PWD=$PWD"
          name: Installed tool versions

      # Now build using the regular ddev-only technique - this results in a fully clean set of executables.
      - run:
          command: make -s clean linux darwin windows
          name: Build the ddev executables

      # Run the built-in ddev tests with the executables just built.
      - run:
          command: make -s test
          name: ddev tests
          no_output_timeout: "20m"

      - run: make -s gometalinter

      - run:
          command: bin/linux/ddev version
          name: ddev version information

      - run:
          command: ./.circleci/generate_artifacts.sh $ARTIFACTS
          name: tar/zip up artifacts and make hashes

      - store_artifacts:
          path: /artifacts
          name: Artifact storage

  # nightly is triggered only with nightly_build_trigger.sh
  # The approach is to build the tip of all related repositories, both
  # ddev itself and the containers it relies on.
  # It does a full build-and-test of nightly-build.mak (with containers)
  # Then starts over and does a normal build with normal image tags.
  nightly_build:
    machine:
      image: circleci/classic:201711-01
    working_directory: ~/go/src/github.com/drud/ddev
    environment:
      DRUD_DEBUG: "true"
      GOPATH: /home/circleci/go
      ARTIFACTS: /artifacts
    steps:
      - checkout

      - run:
          command: ./.circleci/circle_vm_setup.sh
          name: NIGHTLY BUILD Circle VM setup - tools, docker, golang

      - run:
          command: echo "go version:$(go version) docker version=$(docker --version) docker-compose version=$(docker-compose --version) HOME=$HOME USER=$(whoami) PWD=$PWD"
          name: Show installed tool versions

      - run: make -s gometalinter

      # Now build using the regular ddev-only technique - this results in a
      # fully clean set of executables with expected tags. This should result
      # in the normal artifacts we'd expect in a regular build.

      # Earlier process updated submodules so now we clean them up to continue.
      - run:
          command: |
            make -s clean linux darwin windows
          name: Build the ddev executables normally, with normal image tags

      # Run the built-in ddev tests with the clean binaries just built.
      - run:
          command: make -s test
          name: ddev tests, with normal clean ddev binaries (normal image tags)
          no_output_timeout: "20m"

      - run:
          command: bin/linux/ddev version
          name: ddev version information (clean binaries, not nightlies)

      - run:
          command: ./.circleci/generate_artifacts.sh $ARTIFACTS
          name: tar/zip up artifacts and make hashes

      - store_artifacts:
          path: /artifacts
          name: Artifact storage

  # 'tag_build' is used to build a tag for release.
  tag_build:
    machine:
      image: circleci/classic:201711-01
    working_directory: ~/go/src/github.com/drud/ddev
    environment:
      DRUD_DEBUG: "true"
      GOPATH: /home/circleci/go
      ARTIFACTS: /artifacts
    steps:
      - run: mkdir -p ~/go/{lib,pkg,src/github.com/drud/ddev}

      - checkout

      - run:
          command: ./.circleci/circle_vm_setup.sh
          name: TAG BUILD Circle VM setup - tools, docker, golang

      # Now build using the regular ddev-only technique - this results in a fully clean set of executables.
      - run:
          command: make -s clean linux darwin windows
          name: Build the ddev executables

      - run:
          command: bin/linux/ddev version
          name: ddev version information

      - run:
          command: ./.circleci/generate_artifacts.sh $ARTIFACTS
          name: tar/zip up artifacts and make hashes

      - store_artifacts:
          path: /artifacts
          name: Artifact storage

workflows:
  version: 2
  normal_build_and_test:
    jobs:
      - normal_build_and_test
  nightly_build:
    triggers:
      - schedule:
          cron: "0 3 * * 1-5"
          filters:
            branches:
              only:
                - master
    jobs:
      - nightly_build
  tag_build:
    jobs:
      - tag_build:
          filters:
            tags:
              only:
                - "/.*/"
            branches:
              ignore: /.*/
