#!/bin/bash

## #ddev-generated
## Description: Run drush inside the web container
## Usage: drush [flags] [args]
## Example: "ddev drush uli" or "ddev drush sql-cli" or "ddev drush --version"

drush $@

# To connect more easily to debug, you might want to execute a site-installed
# drush directly, e.g.
#
# /var/www/html/vendor/drush/drush/drush $@
