#ddev-generated
# Example Pantheon.io provider configuration.

# To use this configuration,
# 1. Create a Pantheon.io machine token (Account->Machine Tokens).
# 2. Create a backup for the project (Backups->Create New Backup).
# 3. Add add an entry to web_environment in ~/.ddev/global_config.yaml with the token:
# web_environment:
# - TERMINUS_MACHINE_TOKEN=xxxxxxxx
# 4. Copy pantheon.yaml.example to pantheon.yaml.
# 5. Update project_id and environment_name.
# 6. `ddev restart`
# 7. Use `ddev pull pantheon` to pull the project database and files.

# Debugging: Use `ddev exec terminus auth:whoami` to see what terminus knows about
# `ddev exec terminus site:list` will show available sites

environment_variables:
  project_id: 39c06996-285d-4975-b2f7-someproject-id
  environment_name: dev

auth_command:
  command: |
    if [ -z "${TERMINUS_MACHINE_TOKEN:-}" ]; then echo "Please make sure you have set TERMINUS_MACHINE_TOKEN in ~/.ddev/global_config.yaml" && exit 1; fi
    terminus auth:login --machine-token="${TERMINUS_MACHINE_TOKEN}" >/dev/null 2>&1

db_pull_command:
  command: |
    terminus backup:get --element=db --to=/var/www/html/.ddev/.downloads/db.sql.gz "${project_id}.${environment_name}"

files_pull_command:
  command: |
    ls /var/www/html/.ddev >/dev/null # This just refreshes stale NFS if possible
    pushd /var/www/html/.ddev/.downloads >/dev/null;
    terminus backup:get --element=files --to=files.tar.gz "${project_id}.${environment_name}"
    tar -zxf files.tar.gz --strip-components=1 -C files/
    rm -f files.tar.gz
