#!/bin/bash
set -eu -o pipefail
set -x

{{ if .Env.USE_LETSENCRYPT }}
hostnames="{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}{{ trim $host }} {{ end }}"

for host in ${hostnames}; do
  certbot --nginx certonly -n --domain "${host}" --agree-tos --email {{ .Env.LETSENCRYPT_EMAIL }}
done
{{ end }}

# mkcert is fully capable of generating all needed names in a single container.
mkcert -cert-file /etc/nginx/certs/master.crt -key-file /etc/nginx/certs/master.key {{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }} {{ trim $host }} {{ end }} 127.0.0.1 localhost "*.ddev.local" "*.ddev.site"
