version: 2
stages:
  build:
    machine: true
    working_directory: /home/circleci/go/src/github.com/drud/build-tools

    environment:
      GOPATH: /home/circleci/go

    steps:
      - run: mkdir -p ~/go/src/github.com/drud/build-tools && mkdir -p ~/go/lib && mkdir -p ~/go/bin

      - checkout

      - run: make linux

      - run: make test

      - run: make -s gometalinter

