[mysql]

# CLIENT #
port                           = 3306
socket                         = /var/tmp/mysql.sock

[mysqld]

#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
socket                         = /var/tmp/mysql.sock
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
secure-file-priv=/var/lib/mysql-files
# Windows 10 home fix: must not use native_aio, since there is none.
# log-bin=on fixes a bug with Virtualbox (used by docker toolbox)
# see https://dba.stackexchange.com/a/185006/149238
innodb_use_native_aio=0
log-bin=on

character-set-server = utf8mb4
collation-server = utf8mb4_bin

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0


# GENERAL #
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /var/tmp/mysql.sock
pid-file                       = /var/tmp/mysql.pid

# MyISAM #
key-buffer-size                = 64M

# SAFETY #
max-allowed-packet             = 256M
max-connect-errors             = 1000000

# CACHES AND LIMITS #
tmp-table-size                 = 64M
max-heap-table-size            = 64M
query-cache-type               = 0
query-cache-size               = 0
max-connections                = 100
thread-cache-size              = 16
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 4096

# INNODB #
# Cannot use O_DIRECT with windows mounts!!!
# innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 64M
innodb-flush-log-at-trx-commit = 2
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 1024M
innodb_large_prefix=true
innodb_file_format=barracuda
innodb_file_per_table=true

# LOGGING #
log-error                      = /var/log/mysqld.log
log-queries-not-using-indexes  = 1
slow-query-log                 = 1
slow-query-log-file            = /var/lib/mysql/mysql-slow.log

!includedir /etc/mysql/conf.d
