[client]
# CLIENT #
port                           = 3306
socket                         = /var/tmp/mysql.sock
default-character-set = utf8mb4

[mysqld]

socket                         = /var/tmp/mysql.sock

skip-name-resolve=1

datadir=/var/lib/mysql
secure-file-priv=''
tmpdir=/tmp

# We don't need binlogs at all
skip-log-bin

character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
init_connect='SET collation_connection = utf8mb4_unicode_ci'

# Disabling symbolic-links is recommended to prevent assorted security risks

default-storage-engine         = InnoDB
pid-file                       = /var/tmp/mysql.pid

# MyISAM #
key-buffer-size                = 64M

# SAFETY #
max-allowed-packet             = 256M
max-connect-errors             = 1000000

# CACHES AND LIMITS #
tmp-table-size                 = 64M
max-heap-table-size            = 64M

max-connections                = 100
thread-cache-size              = 16
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 4096

# INNODB #
innodb-flush-log-at-trx-commit = 2
innodb-file-per-table          =1
innodb-buffer-pool-size        = 1024M
innodb-use-native-aio=1
innodb_doublewrite=0
innodb_log_file_size=50331648

# LOGGING #
log-error                      = /var/lib/mysql/mysqld.err
log-queries-not-using-indexes  =0
slow-query-log                 =1
slow-query-log-file            = /var/lib/mysql/mysqld.err
long-query-time                = 10

# version-conf.d is files that we control, that override the base config for
# varieties of mysql/mariadb
!includedir /etc/mysql/version-conf.d
# conf.d is where user configuration gets copied (from project .ddev/mysql
!includedir /etc/mysql/conf.d
