[client]
# CLIENT #
port                           = 3306
socket                         = /var/tmp/mysql.sock
default-character-set = utf8mb4

[mysqld]

#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
socket                         = /var/tmp/mysql.sock
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
secure-file-priv=/var/lib/mysql-files

innodb_use_native_aio=1
expire-logs-days = 1

# log_bin_trust_function_creators is required when log_bin is on for creating triggers
log_bin_trust_function_creators=on

character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
init_connect='SET collation_connection = utf8mb4_unicode_ci'

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0


# GENERAL #
default-storage-engine         = InnoDB
socket                         = /var/tmp/mysql.sock
pid-file                       = /var/tmp/mysql.pid

# MyISAM #
key-buffer-size                = 64M

# SAFETY #
max-allowed-packet             = 256M
max-connect-errors             = 1000000

# CACHES AND LIMITS #
tmp-table-size                 = 64M
max-heap-table-size            = 64M
; these two are incompatible with mysql 8.0
;query-cache-type               = 0
;query-cache-size               = 0
max-connections                = 100
thread-cache-size              = 16
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 4096

# INNODB #
# Cannot use O_DIRECT with windows mounts!!!
# innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
; 48M is chosen here only to work around xtrabackup bug
; for mariadb 5.5, https://bugs.launchpad.net/percona-xtrabackup/+bug/1527081
innodb-log-file-size           = 48M
innodb-flush-log-at-trx-commit = 2
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 1024M
; these two are incompatible with mysql 8.0
;innodb_large_prefix=true
;innodb_file_format=barracuda
innodb_file_per_table=true

# LOGGING #
log-error                      = /var/log/mysqld.err
log-queries-not-using-indexes  = 0
slow-query-log                 = 1
slow-query-log-file            = /var/log/mysqld.err
long-query-time                = 10

!includedir /etc/mysql/conf.d
