name: docspublish
on:
  push:
    branches: [ main, master ]
env:
  HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  docs-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5.3.0
        with:
          python-version: 3.x
      - run: echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
      - run: pip install -r docs/mkdocs-pip-requirements
      - run: mkdocs build
      - run: ls -l .nojekyll || true
      - run: mkdocs gh-deploy --force --no-history
