name: Check docs
defaults:
  run:
    shell: bash

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - "docs/**"
      - ".spellcheckwordlist.txt"
      - ".spellcheck.yml"
      - ".markdownlint.jsonc"
      - "mkdocs.yml"
      - ".readthedocs.yaml"
      - ".github/workflows/**"
      - "markdown-link-check.json"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  actions: write

jobs:
  build:
    name: Docs check (spellcheck, markdownlint, textlint)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Spellcheck
        uses: rojopolis/spellcheck-github-actions@v0
      - name: Install textlint
        run: |
          npm init -y
          npm install textlint textlint-filter-rule-comments textlint-rule-no-todo textlint-rule-stop-words textlint-rule-terminology
      - name: Run textlint
        uses: tsuyoshicho/action-textlint@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-check
          textlint_flags: "{README.md,version-history.md,docs/**}"
      - name: Run markdownlint
        uses: docker://avtodev/markdown-lint:v1
        with:
          config: '.markdownlint.jsonc'
          args: '*.md docs/content'
      #    - name: Debugging with tmate
      #      uses: mxschmitt/action-tmate@v3.1
      - name: Check links in Markdown
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'yes'
          folder-path: 'docs/'
          file-path: "README.md"
          config-file: 'markdown-link-check.json'
      - name: Test mkdocs
        env:
          MKDOCS_GITHUB_USER: ${{ secrets.MKDOCS_GITHUB_USER }}
          MKDOCS_GITHUB_TOKEN: ${{ secrets.MKDOCS_GITHUB_TOKEN }}
        if: env.MKDOCS_GITHUB_TOKEN != ''
        run: |
          sudo pip3 install setuptools
          sudo pip3 install -r docs/mkdocs-pip-requirements
          mkdocs -q build -d /tmp/mkdocsbuild
