name: Check docs
defaults:
  run:
    shell: bash

on:
  push:
    branches: [ main, master ]
  pull_request:
    paths:
      - "docs/**"
      - ".spellcheckwordlist.txt"
      - ".spellcheck.yml"
      - ".markdownlint.jsonc"
      - "mkdocs.yml"
      - ".readthedocs.yaml"
      - ".github/workflows/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  actions: write

jobs:
  build:
    name: Docs check (spellcheck, links, markdownlint, textlint)
    # linkspector seems to fail with "No usable sandbox"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Spellcheck
        uses: rojopolis/spellcheck-github-actions@v0
      - name: Install textlint
        run: |
          npm init -y
          npm install textlint textlint-filter-rule-comments textlint-rule-no-todo textlint-rule-stop-words textlint-rule-terminology
      - name: Run textlint
        uses: tsuyoshicho/action-textlint@v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-check
          textlint_flags: "{README.md,version-history.md,docs/**}"
      - name: Run linkspector to check external links
        uses: umbrelladocs/action-linkspector@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-check
          fail_on_error: true
          # Check links only in the added lines for PRs, but check everything otherwise
          filter_mode: ${{ github.event_name == 'pull_request' && 'added' || 'nofilter' }}
          config_file: '.linkspector.yml'
      - name: Run markdownlint
        uses: docker://avtodev/markdown-lint:v1
        with:
          config: '.markdownlint.jsonc'
          args: '*.md docs/content'
      #    - name: Debugging with tmate
      #      uses: mxschmitt/action-tmate@v3.1
      - name: Test mkdocs
        run: |
          sudo pip3 install setuptools
          sudo pip3 install -r docs/mkdocs-pip-requirements
          mkdocs build -d /tmp/mkdocsbuild
