name: PR Build

defaults:
  run:
    shell: bash

on:
  pull_request:
    paths:
      - ".github/workflows/**"
      - ".ci-scripts/**"
      - "!.github/workflows/docs**"
      - "cmd/**"
      - "pkg/**"
      - "third_party/**"
      - "vendor/**"
      - "winpkg/**"
      - "go.*"
      - "Makefile"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  BUILDKIT_PROGRESS: plain
  DOCKER_CLI_EXPERIMENTAL: enabled
  DDEV_DEBUG: true
  HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}


permissions:
  contents: read

jobs:
  build:
    name: Build DDEV executables
    runs-on: ubuntu-24.04
    env:
      AmplitudeAPIKey: ${{ secrets.AMPLITUDE_API_KEY_DEV }}
    steps:
      - uses: actions/checkout@v4
        with:
          # We need to get all branches and tags for git describe to work properly
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Install build tools
        run: ./.github/workflows/linux-build-setup.sh

      - uses: actions/setup-go@v5
        with:
          go-version: '>=1.23'
          check-latest: true

      # Find out info about how github is getting the hash
      - run: "git describe --tags --always --dirty"
      - run: "(git log --oneline | head -5) || true"

      - name: Build DDEV executables
        run: make CGO_ENABLED=0 BUILDARGS="" linux_amd64 linux_arm64 darwin_amd64 darwin_arm64 windows_amd64_install windows_arm64_install linux_amd64_ddev_hostname linux_arm64_ddev_hostname darwin_amd64_ddev_hostname darwin_arm64_ddev_hostname windows_amd64_ddev_hostname windows_arm64_ddev_hostname

      - name: Generate artifacts
        run: ./.ci-scripts/generate_artifacts.sh ${{ github.workspace }}/artifacts

      - name: Upload all artifacts
        uses: actions/upload-artifact@v4
        with:
          name: all-ddev-executables
          path: ${{ github.workspace }}/artifacts/*
      - name: Upload macos-amd64 binary
        uses: actions/upload-artifact@v4
        with:
          name: ddev-macos-amd64
          path: .gotmp/bin/darwin_amd64/ddev*
      - name: Upload macos-arm64 binary
        uses: actions/upload-artifact@v4
        with:
          name: ddev-macos-arm64
          path: .gotmp/bin/darwin_arm64/ddev*
      - name: Upload linux-arm64 binary
        uses: actions/upload-artifact@v4
        with:
          name: ddev-linux-arm64
          path: .gotmp/bin/linux_arm64/ddev*
      - name: Upload linux-amd64 binary
        uses: actions/upload-artifact@v4
        with:
          name: ddev-linux-amd64
          path: .gotmp/bin/linux_amd64/ddev*
      - name: Upload windows-amd64 binary
        uses: actions/upload-artifact@v4
        with:
          name: ddev-windows-amd64
          path: .gotmp/bin/windows_amd64/ddev*
      - name: Upload windows_amd64 installer
        uses: actions/upload-artifact@v4
        with:
          name: ddev-windows-amd64-installer
          path: .gotmp/bin/windows_amd64/ddev_windows_amd64_installer*.exe
      - name: Upload windows-arm64 binary
        uses: actions/upload-artifact@v4
        with:
          name: ddev-windows-arm64
          path: .gotmp/bin/windows_arm64/ddev*
      - name: Upload windows_arm64 installer
        uses: actions/upload-artifact@v4
        with:
          name: ddev-windows-arm64-installer
          path: .gotmp/bin/windows_arm64/ddev_windows_arm64_installer*.exe
