name: Push tagged image
defaults:
  run:
    shell: bash

on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Image to be pushed (base-webserver, ddev-webserver, etc)'
        required: true
        default: ddev-webserver
      tag:
        description: Tag for pushed image (v1.19.3 for example)'
        required: true
        default: ""
      debug_enabled:
        description: 'Enable debug mode'
        required: false
        default: false
env:
  REGISTRY: docker.io
  DOCKER_ORG: drud
jobs:
  push-tagged-image:
    name: "push tagged image"
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: true
        github-token: ${{ secrets.GITHUB_TOKEN }}
      if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}
    - name: Push ${{  github.event.inputs.image }} image
      if: github.event.inputs.image != 'ddev-dbserver'
      run: |
        cd "containers/${{ github.event.inputs.image }}"
        make push VERSION="${{ github.event.inputs.tag }}"
    - name: Push ${{  github.event.inputs.image }} ddev-dbserver image
      if: github.event.inputs.image == 'ddev-dbserver'
      run: |
        cd "containers/${{ github.event.inputs.image }}"
        make PUSH=true VERSION="${{ github.event.inputs.tag }}"

