name: Quickstart test
defaults:
  run:
    shell: bash

on:
  push:
    branches: [ main, master ]
  pull_request:
    paths:
      - "docs/content/users/quickstart.md"
      - "docs/tests/**"
      - "go.*"
      - "pkg/**"
      - "cmd/**"
      - "Makefile"
      - "vendor/**"
      - ".github/workflows/quickstart.yml"
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Enable debug mode'
        type: boolean
        required: false
        default: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  actions: write

jobs:
  build:
    name: Docs Quickstart test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Install Docker and deps (Linux)
        run: ./.github/workflows/linux-setup.sh

      # 1password secrets are not available on forked PRs and some other PRs
      - name: Load 1password secret(s) magento2 etc if available
        if: ${{ env.OP_SERVICE_ACCOUNT_TOKEN != '' }}
        uses: 1password/load-secrets-action@v3
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: "${{ secrets.TESTS_SERVICE_ACCOUNT_TOKEN }}"
          MAGENTO2_PUBLIC_ACCESS_KEY: "op://test-secrets/MAGENTO2_ACCESS_KEYS/public_access_key"
          MAGENTO2_PRIVATE_ACCESS_KEY: "op://test-secrets/MAGENTO2_ACCESS_KEYS/private_access_key"

      - name: Setup tmate session
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true

      - name: Run quickstart test
        run: |
          # Use mutagen by default as it may cause different behaviors
          ddev config global --performance-mode=mutagen
          # bats refuses ever to exit until all processes started by it
          # have exited. So we don't want to let bats/ddev start mutagen daemon
          mkdir -p ~/tmp/dummystart && pushd ~/tmp/dummystart && ddev config --auto && ddev start -y && popd
          make quickstart-test
          ddev poweroff
