name: Test Nginx-FPM
on:
  pull_request:
    paths:
      - "go.*"
      - "pkg/**"
      - "cmd/**"
      - "Makefile"
      - "vendor/**"
      - ".github/workflows/**"
      - "!.github/workflows/docs**"
  push:
    branches: [ main, master ]
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run the build with tmate set "debug_enabled"'
        type: boolean
        required: false
        default: false
      ddev_embargo_tests:
        description: 'Pipe-separated list of test names to skip (e.g., TestName1|TestName2)'
        type: string
        required: false
        default: ''

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  nginx-fpm:
    uses: ./.github/workflows/test-reusable.yml
    secrets: inherit
    with:
      ddev_test_webserver_type: "nginx-fpm"
      ddev_skip_nodejs_test: "false"
      testargs: "" # don't use "-failfast"
      ddev_embargo_tests: ${{ inputs.ddev_embargo_tests || vars.DDEV_EMBARGO_TESTS || '' }}
      debug_enabled: ${{ inputs.debug_enabled || false }}
