name: Tests
on:
  pull_request_target:
    paths:
      - "go.*"
      - "pkg/**"
      - "cmd/**"
      - "Makefile"
      - "vendor/**"
      - ".github/workflows/**"
  push:
    branches: [ master, main ]

  schedule:
    - cron: '01 00 * * *'


defaults:
  run:
    shell: bash

env:
  BUILDKIT_PROGRESS: plain
  DOCKER_CLI_EXPERIMENTAL: enabled
  DDEV_DEBUG: true
  DDEV_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  tests:
    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        webserver: [apache-fpm, nginx-fpm]
        tests: [test]
        os: [ ubuntu-20.04 ]
        mutagen: ['false', 'true']
        no-bind-mounts: ['true', 'false']
      fail-fast: false

    runs-on: ${{ matrix.os }}

    env:
      DDEV_TEST_WEBSERVER_TYPE: ${{ matrix.webserver }}
      DDEV_NONINTERACTIVE: "true"
      DDEV_TEST_USE_MUTAGEN: ${{ matrix.mutagen }}
      DDEV_TEST_NO_BIND_MOUNTS: ${{ matrix.no-bind-mounts }}
    steps:
      - uses: actions/checkout@v3

#      - name: GOTEST_SHORT setup - use "true" except for testfullsitesetup
#        run: |
#          if [ "${{ matrix.tests }}" != "testfullsitesetup" ]; then
#            echo "GOTEST_SHORT=true" >> $GITHUB_ENV
#          fi

      - name: Install Docker and deps (Linux)
        if: matrix.os == 'ubuntu-20.04'
        run: ./.github/workflows/linux-setup.sh

      #      - name: Install Docker and deps (macOS)
      #        if: matrix.os == 'macos-latest'
      #        run: ./.github/workflows/macos-setup.sh

      - uses: actions/setup-go@v3
        if: matrix.os == 'ubuntu-20.04'
        with:
          go-version: 1.*

      #      - name: Clean up self-hosted runners if necessary
      #        if: matrix.os[1] == 'self-hosted'
      #        run: .github/workflows/selfhosted-maintenance.sh

      - name: DDEV tests
        run: |
          echo "$(docker --version) $(docker-compose --version)"
          echo "DDEV_TEST_USE_MUTAGEN=${DDEV_TEST_USE_MUTAGEN}"
          make ${{ matrix.tests }}

      - name: Store test results
        uses: actions/upload-artifact@v2
        with:
          name: ddev-test-results-${{ matrix.webserver }}
          path: /tmp/testresults/
