name: Tests
on:
  pull_request:
    paths:
      - "go.*"
      - "pkg/**"
      - "cmd/**"
      - "Makefile"
      - "vendor/**"
      - ".github/workflows/**"
  push:
    branches: [ master, main ]

  schedule:
    - cron: '01 00 * * *'


defaults:
  run:
    shell: bash

env:
  BUILDKIT_PROGRESS: plain
  DOCKER_CLI_EXPERIMENTAL: enabled
  DDEV_DEBUG: true
  DDEV_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  contents: read

jobs:
  tests:
    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        include:
          - name: "apache-fpm"
            webserver: "apache-fpm"
          - name: "nginx-fpm"
          - name: "mutagen"
            mutagen: true
          - name: "no-bind-mounts"
            no-bind-mounts: "true"
          - name: "traefik"
            use-traefik: true
      fail-fast: false

    runs-on: ubuntu-20.04

    env:
      DDEV_NONINTERACTIVE: "true"
      GOTEST_SHORT: "8" # 8 is drupal9; means in TestFullSiteSetup we only use drupal9
      DDEV_TEST_WEBSERVER_TYPE: ${{ matrix.webserver }}
      DDEV_TEST_USE_MUTAGEN: ${{ matrix.mutagen }}
      DDEV_TEST_NO_BIND_MOUNTS: ${{ matrix.no-bind-mounts }}
      DDEV_TEST_USE_TRAEFIK: ${{ matrix.use-traefik }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Install Docker and deps (Linux)
        run: ./.github/workflows/linux-setup.sh
      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.19.0'

      - name: DDEV tests
        run: |
          echo "DDEV_TEST_USE_MUTAGEN=${DDEV_TEST_USE_MUTAGEN} DDEV_TEST_USE_TRAEFIK=${DDEV_TEST_USE_TRAEFIK} DDEV_TEST_WEBSERVER_TYPE=${DDEV_TEST_WEBSERVER_TYPE} DDEV_TEST_NO_BIND_MOUNTS=${DDEV_TEST_NO_BIND_MOUNTS}"
          make TESTARGS="-failfast" test
