#ddev-generated
/.gitignore

/**/*.example
/**/README.*
/.addon-data
/.amplitude.cache
/.global-commands-hash
/.remote-config
/.router-compose.yaml
/.router-composer-full.yaml
/.sponsorship-data
/.ssh-auth-compose.yaml
/.ssh-auth-compose-full.yaml
/.state.yaml
/.update
/bin
/testcache
/global_config.yaml
/project_list.yaml
