#ddev-generated
/.gitignore

/**/*.example
/**/README.*
/.addon-data
/.amplitude.cache
/.env.*.local
/.env.local
/.global-commands-hash
/.remote-config
/.router-compose.yaml
/.router-compose-full.yaml
/.sponsorship-data
/.ssh-auth-compose.yaml
/.ssh-auth-compose-full.yaml
/.state.yaml
/.update
/bin
/testcache
/global_config.yaml
/global_config.local.y*ml
/project_list.yaml
